
body {
    
    background: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-header h1 {
    text-align: center;
    font-family: 'Moon Tank', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.menu-header h3 {
    font-family: 'Lemon Milk', Impact, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #c93835;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.menu-header h4{
    text-align: center;
}

.menu-header h1 span {
    font-weight: 400;    
}


.category {
     display: flex;
    margin-bottom: 40px;
    gap: 30px;

}

.category h2 {
    font-family: 'Moon Tank',sans-serif;
    color: #c93835;
    font-size: 4rem;
    border-bottom: 3px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
    letter-spacing: 3px;
    
}

.items {
    display: grid;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed #ddd;
}

.item-name {
    font-weight: 500;
    font-family: 'Lemon Milk', Impact, sans-serif;
}

.item.special .item-name {
    font-weight: 700;
}

.item-weight {
    font-size: 0.8rem;
    color:rgb(159, 159, 159);
    margin-left: 7px;
    font-weight: 200;
}

.item-price {
    font-weight: 700;
    color: #e67e22;
    font-family: 'Lemon Milk';
    margin-left:10px;
}
.category h2 {
    position: sticky;
    top: 0;
    
    z-index: 1;
}
.category-container {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    align-items: flex-start;
    justify-content: space-between;
}
.category.image-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
    align-items: flex-start;
}

.category.image-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin-bottom: 40px;
    align-items: flex-start;
}
.category-image {
    flex: 0 0 180px;
}
.category-img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 3px;
}
.category-content {
    flex: 1;
}
@media (max-width: 768px) {
    .category.image-left,
    .category.image-right {
        flex-direction: column;
    }
    
    .category-image {
       
        margin-bottom: 15px;
    }
    
    .category-img {
        height: auto;
        max-height: 300px;
    }
}
@font-face {
    font-family: 'Moon Tank';
    src: url('../fonts/MOONTANK.otf') format('opentype'),
         url('../fonts/MOONTANK.ttf') format('truetype');
    font-display: swap;
}


@font-face {
    font-family: 'Lemon Milk';
    src: url('../fonts/LEMONMILK-Bold.otf') format('opentype'),
         url('../fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}