<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>EVERY DAY BURGER MENU</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Correct CSS path -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Moon Tank (for headers) -->
  
    <style>
        body {
            /* Correct media path for background */
            background-image: url('https://res.cloudinary.com/dwydieekv/image/upload/v1744004691/bg_hmpjno.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
        
    </style>
</head>
<body>
    <div class="menu-container">
        <header class="menu-header">
            <!-- Correct media path for logo -->
            <img style="height: 200px; width: auto; display: block; margin: 0 auto 15px auto;" 
                 src="https://res.cloudinary.com/dwydieekv/image/upload/v1744005063/everyday_logo-removebg-preview_2_q0inm4.png" 
                 alt="Every Day Burger Logo" 
                 class="header-logo">
            <h3>EVERY DAY BURGER</h3>
            <h1 style="font-family: 'Moon Tank'"><span>MENU</span></h1>
        </header>
        
        {% block content %}{% endblock %}
       
        <header class="menu-header">
            <h3>EVERY DAY BURGER</h3>
        </header>
    </div>
</body>
</html>